@media only screen and (max-width: 600px) {
    .main_container {}
}

@media not screen and (max-width: 600px) {
    .main_container {
        height: 300vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        padding-left: 50px;
        padding-right: 600px;
    }

    .sidebar {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-right: 250px;
    }

    .content {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }
}